<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{{ url_for('static', filename='simple-sidebar.css') }}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
  
    <div id="wrapper">
      
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Ipsum Inc.</a></li>
          <li><a href="#">Financial data</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Directory</a></li>
          <li><a href="#">Shady things</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
          
      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            Ipsum Inc. financial data
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-md-7  ">
              <div id="chart_div" style="width: autos; height: 500px;"></div>
            </div>
            <div class="col-md-4">
              <br>
              <br>
              <br>
              <br>
              <br>
              <blockquote>
                <p>The resource deploys a responsible and structural sustainability. Ipsum Inc. efficiently right-scales forward-looking, vision-setting and value-adding benefits, whilst accurate structures motivate the Chief Controlling Officer as a consequence of upper single-digit growth. A channel influences the tolerably expensive action items. The community enforces long-term correlations.</p>
                <small>Ipsum Inc. statement</small>

              </blockquote>
            </div>
            
          </div>
          <div class="footer">
            <p>© Ipsum Inc. 2013</p>
          </div>
        </div>
      </div>
      
    </div>
  
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
